<launch>
  <param name="use_sim_time" value="true"/>

  <node name="uav_slam"
        pkg="uav_slam"
        type="uav_slam_node"
        output="screen">

        <!-- ICP parameters -->
        <rosparam file="$(find uav_odometry)/config/icp.yaml"/>

        <!-- Filter parameters -->
        <rosparam file="$(find uav_odometry)/config/filter.yaml"/>

        <!-- Mapper parameters -->
        <rosparam file="$(find uav_mapper)/config/octree.yaml"/>

        <!-- I/O parameters -->
        <rosparam file="$(find uav_slam)/config/io.yaml"/>
  </node>

  <node name="transform"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 -1.5707 fixed world 30">
  </node>

</launch>