<launch>

  <node name="uav_slam"
        pkg="uav_slam"
        type="uav_slam_node"
        output="screen">

        <!-- ICP parameters -->
        <rosparam file="$(find uav_odometry)/config/icp.yaml"/>

        <!-- Filter parameters -->
        <rosparam file="$(find uav_odometry)/config/filter.yaml"/>

        <!-- Mapper parameters -->
        <rosparam file="$(find uav_mapper)/config/octree.yaml"/>

        <!-- I/O parameters -->
        <rosparam file="$(find uav_slam)/config/io.yaml"/>
  </node>

</launch>